<!DOCTYPE html>
<html>
  <head>
    <title>Tolly Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        object:fit cover;
        width: 100%;
      }
      
    </style>
    
  </head>
  <body>
    <div class= "container">
      <h1 class="text-center mt-2 mb-4">
        {{company_name}} Careers.
      </h1>
      <img class="img fluid" id="banner" src="https://tolly-careers-website.johnsonkamau542.repl.co/static/banner.jpeg" >
    <h2>
      About Tolly.
    </h2>
    <p class="lead mt-2 mb-4">
      The Tolly careers website serves as a valuable platform for job seekers and employers. It provides a professional space to showcase job opportunities, company profiles, and applicant qualifications. With user-friendly navigation, search filters, and personalized features, users can efficiently connect and explore career options. Stay updated with industry trends, enhance your professional network, and find your dream job through a careers website.
   <p>
        <h3 class="text-center mt-2 mb-4">
          JOB OPENINGS 
        </h3>
     <div>
       {% for job in jobs %}
       {% include 'jobitem.html' %}

       {% endfor %}
     </div>
       <div class="text-center" 
     <button class="class="btn btn-primary btn-lg" 
       "Contact Us"
     </button>
       
         <p class="mt-4">Copyright 2023 , Tolly</p>
       </div>
    </div>
         
       
  
  </body>
  

</html>